@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: beige;
    transition: 2s ease;
  }
  
  @media screen and (min-width:768px) {
    .no-tailwind {
     all: unset;
  }
    
  }